<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do</title>

    <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>

<body>
    <h1>To Do!</h1>
    <h2>Pending</h2>
    <ul >
        ${
            tasks.filter(aTask => !aTask.is_completed).map(aTask => `
                <li>
                    <button title="Mark Completed" class="actionbtn" onclick='completeIt(${aTask.id})'>&#9989;</button> 
                    <button title="Delete" class="actionbtn" onclick='deleteIt(${aTask.id})'>&#128465</button> ${aTask.title}
                </li>
            `).join('')
        }
    </ul>

    <br>

    <h2>Done</h2>
    <ul>
        ${
            tasks.filter(aTask => aTask.is_completed).map(aTask => `
            <li>
                <button title="Mark Undone" class="actionbtn" onclick='undoIt(${aTask.id})'>&#10060</button> 
                <button title="Delete" class="actionbtn" onclick='deleteIt(${aTask.id})'>&#128465</button> ${aTask.title}
            </li>
        `).join('')
        }
    </ul>

    <br>

    <h2>Add A Task</h2>
    <form action="addtask" method="post">
        <label for="name-field">New Task</label>
        <input type="text" name="newtask" id="newtask">
        <input type="submit" name="submit" value="Add New Task" />
    </form>

    <script src="scripts/script.js"></script>
</body>
</html>