/* *{
    border: 1px solid red;
} */

@keyframes my-ducky-animation {
    from{

    }
    to{
        padding-left: 500px;
    }
}

#my-img{
    padding-top:200px;
    height: 300px;
    width: 300px;
    animation-name: my-ducky-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}