<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    ${head}
    <title>Friends List</title>
</head>
<body>
    <h1>Hi this is the friends list!</h1>
    <ul>
        ${
            friends.map(aFriend => ` 
                <li><a href="${myPath}/${aFriend.handle}">${aFriend.name}</a></li>
            `).join('')
        }
    </ul>
    ${back}
    </body>
</html>