/* *
{
    border: 1px solid red;
} */

html{
    background: url("../images/good-morning-camino.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

h2 {
    text-align: center;
}

body{
    background-color: white;
    left: 25%;
    margin: 0;
    padding: 20px 20px 20px 20px;
    position: absolute;
    top: 25%;
    transform: translate(-25%, -25%);
    -ms-transform: translate(-25%, -25%);
}

#left{
    align-items: center;
    margin: 5px;
    width: 45%;
    float: left;
}

#porky-pig{
    height: 124px;
}

#right{
    align-items: center;
    margin: 5px;
    width: 45%;
    float: right;
}

.headshot {
    align-items: center;
    border: 5px solid darkgray;
    border-radius: 50%;
    display: block;
    float: left;
    margin: 20px;
    padding: 10px;
    width: 125px;
}

.headshot-right {
    align-items: center;
    border: 5px solid darkgray;
    border-radius: 50%;
    display: block;
    float: right;
    margin: 20px;
    padding: 10px;
    width: 125px;
}

.no-float {
    clear: both;
    overflow: auto;
}

.aligncenter {
    text-align: center;
}

#socials {
    clear: both;
}

.sociallogo{
    width: 80px;
}

/* .panel{
    border:1px solid darkgray;
    padding: 20px;
} */